#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
tests/coverage*

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/.phpunit.*.cache

*.txt
public/uploads/profile/images/index.html
public/uploads/profile/images/20221028_d14debafa6a9.png
public/uploads/profile/images/20221018_c5b332ccceb1.jpg
public/uploads/profile/images/20221018_993ba6481b4e.jpg
public/uploads/profile/images/20221018_8e2ff1b7d3a5.png
public/uploads/profile/images/20221018_71e828b1012e.png
public/uploads/profile/images/20221018_6373e2731aec.jpg
public/uploads/profile/images/20221018_4ae8bac981ab.jpg
public/uploads/profile/images/20221018_21ac13773f88.webp
public/uploads/news/images/index.html
public/uploads/news/images/20221018_bcff6fe62510.jpg
public/uploads/news/images/20221018_b8179c3f7a36.png
public/uploads/news/images/20221018_85eb35c175e1.jpg
public/uploads/news/images/20221018_78f7355a571d.jpg
public/uploads/news/images/20221018_3b3ccb2cf939.png
public/uploads/news/images/20221018_39c376f9d116.jpg
public/uploads/news/images/20221018_26fc5d4e796b.jpg
public/uploads/news/images/20221018_077041aed9e7.png
public/uploads/news/images/20221006_8db10e00898e.jpg
public/uploads/news/images/20221006_8be30be971fa.jpg
public/uploads/news/images/20221005_ccac129b594c.jpg
public/uploads/news/images/20221005_c7bfa4cbfab0.jpg
public/uploads/2022/25/10/profile_7_20221025_f47c641100cb.png
public/uploads/2022/25/10/index.html
public/uploads/2022/13/10/profile_1_20221013_7b2dd9c1e33e.jpg
public/uploads/2022/13/10/index.html
public/uploads/2022/11/11/estimate/1/onsite/paper/index.html
public/uploads/2022/11/10/estimate/1/onsite/paper/index.html
public/uploads/2022/11/10/estimate/1/onsite/paper/20221110_e39760dd6e6b.pdf
public/uploads/2022/11/10/estimate/1/onsite/images/index.html
public/uploads/2022/11/10/estimate/1/onsite/images/20221110_b3ce2c94bbc8.jpg
public/uploads/2022/11/10/estimate/1/onsite/images/20221110_565a4259d625.jpg
public/uploads/2022/11/10/estimate/1/onsite/images/20221110_2c8d06baacbf.jpg
public/uploads/2022/11/10/estimate/1/onsite/images/20221110_002dce8e6050.jpg
public/uploads/2022/11/02/estimate/1/onsite/images/index.html
public/uploads/2022/11/02/estimate/1/onsite/images/20221102_6a3a36bd7e6a.jpg
public/uploads/2022/11/02/estimate/1/onsite/images/20221102_687b17a09b11.jpg
public/uploads/2022/11/02/estimate/1/onsite/images/20221102_464b6e5acb87.jpg
public/uploads/2022/11/02/estimate/1/onsite/images/20221102_40d3655813d2.jpg
public/uploads/2022/10/25/12/app-register/paper/index.html
public/uploads/2022/10/25/12/app-register/paper/20221026_f84e2862b9e7.pdf
public/uploads/2022/10/25/12/app-register/paper/20221026_f0e46dfd40e4.html
public/uploads/2022/10/25/12/app-register/paper/20221026_b4b35444e912.pdf
public/uploads/2022/10/25/12/app-register/paper/20221026_56e02dd3b4ed.pdf
public/uploads/2022/10/25/12/app-register/paper/20221026_50299bcd6bfd.pdf
public/uploads/2022/10/25/12/app-register/paper/20221026_409fc31d9dec.pdf
public/uploads/2022/10/25/12/app-register/paper/20221026_216ea83dad96.pdf
public/uploads/2022/10/25/12/app-register/paper/20221026_089d07e2cb90.pdf
public/uploads/2022/10/25/12/app-register/paper/20221025_e3cdd6d0ebd3.pdf
public/uploads/2022/10/25/12/app-register/paper/20221025_18f1595c308f.pdf
public/uploads/2022/10/25/12/app-register/images/index.html
public/uploads/2022/10/25/12/app-register/images/20221026_9e6da9350801.webp
public/uploads/2022/10/25/12/app-register/images/20221026_653c13ab8218.webp
public/uploads/2022/10/25/12/app-register/images/20221025_fed8eb512fd2.webp
public/uploads/2022/10/25/12/app-register/images/20221025_8b0c3c336e7e.webp
public/uploads/2022/10/25/12/app-register/images/20221025_7bbc5d927b20.webp
public/uploads/2022/10/25/12/app-register/images/20221025_68ef7894b591.webp
public/uploads/2022/10/25/12/app-register/images/20221025_685d06669db8.webp
public/uploads/2022/10/25/12/app-register/images/20221025_57b16dcc73ad.webp
public/uploads/2022/10/25/12/app-register/images/20221025_33b95b3fbe65.webp
public/uploads/2022/10/25/12/app-register/images/20221025_22f7f5b908f6.webp
public/uploads/2022/10/25/12/app-register/images/20221025_1bf4c21962d6.webp
public/uploads/2022/10/25/12/app-register/images/20221025_13c0c7f39680.webp
public/uploads/2022/10/04/1/pre-screen/paper/index.html
public/uploads/2022/10/04/1/pre-screen/paper/20221109_b9d79db1dbf6.pdf
public/uploads/2022/10/04/1/pre-screen/paper/20221109_a653ee6732dd.pdf
public/uploads/2022/10/04/1/pre-screen/paper/20221109_3b9ffbf8ceec.pdf
public/uploads/2022/10/04/1/pre-screen/paper/20221109_0c14cc1846fa.pdf
public/uploads/2022/10/04/1/pre-screen/paper/20221012_f3e17c18b47c.pdf
public/uploads/2022/10/04/1/pre-screen/paper/20221012_405492c55065.pdf
public/uploads/2022/10/04/1/pre-screen/images/index.html
public/uploads/2022/10/04/1/pre-screen/images/20221109_cb926affcacb.jpg
public/uploads/2022/10/04/1/pre-screen/images/20221109_b948160e0c1e.jpg
public/uploads/2022/10/04/1/pre-screen/images/20221109_b67ebadfc882.jpg
public/uploads/2022/10/04/1/pre-screen/images/20221109_86e8926e6edc.jpg
public/uploads/2022/10/04/1/pre-screen/images/20221109_7ba1d19e43a1.jpg
public/uploads/2022/10/04/1/pre-screen/images/20221109_72dfa89992e7.jpg
public/uploads/2022/10/04/1/pre-screen/images/20221109_6c27a514091a.jpg
public/uploads/2022/10/04/1/pre-screen/images/20221109_624808bcca15.jpg
public/uploads/2022/10/04/1/pre-screen/images/20221109_2fa71f5a31b1.jpg
public/uploads/2022/10/04/1/pre-screen/images/20221109_2e711bacb71c.jpg
public/uploads/2022/10/04/1/pre-screen/images/20221109_0f42ab786d22.jpg
public/uploads/2022/10/04/1/pre-screen/images/20221013_db190ee9234b.jpg
public/uploads/2022/10/04/1/pre-screen/images/20221013_abae5a367baf.jpg
public/uploads/2022/10/04/1/pre-screen/images/20221013_121ad92345ab.jpg
public/uploads/2022/10/04/1/app-register/paper/20221109_b87a36628eb6.pdf
public/uploads/2022/10/04/1/app-register/paper/20221109_acfa8f7b8903.pdf
public/uploads/2022/10/04/1/app-register/paper/20221109_a86e8ef06e49.pdf
public/uploads/2022/10/04/1/app-register/paper/20221109_6a7f402809c0.pdf
public/uploads/2022/10/04/1/app-register/paper/20221109_6288a7d37258.pdf
public/uploads/2022/10/04/1/app-register/paper/20221109_61f8c6921118.pdf
public/uploads/2022/10/04/1/app-register/paper/20221109_36a7369db58e.pdf
public/uploads/2022/10/04/1/app-register/paper/20221011_c4baec0b6b21.pdf
public/uploads/2022/10/04/1/app-register/paper/20221011_843c9751295b.pdf
public/uploads/2022/10/04/1/app-register/paper/20221011_3e3e040b6068.pdf
public/uploads/2022/10/04/1/app-register/paper/20221010_4c912f07f64f.pdf
public/uploads/2022/10/04/1/app-register/images/index.html
public/uploads/2022/10/04/1/app-register/images/20221025_e24e7919764e.jpg
public/uploads/2022/10/04/1/app-register/images/20221025_ba7e104f7b20.jpg
public/uploads/2022/10/04/1/app-register/images/20221025_84e59f5ec94b.jpg
public/uploads/2022/10/04/1/app-register/images/20221025_2c68671a6f5f.jpg
public/uploads/2022/10/04/1/app-register/images/20221010_9149a5559e52.jpg
public/frontend/css/bootstrap.css
public/frontend/css/bootstrap.css
public/frontend/css/bootstrap.css
public/uploads/2022/10/04/1/pre-screen/images/20221213_cfb67b73788c.jpg
public/uploads/2022/10/04/1/app-register/paper/20221213_6e4a50589845.pdf
public/uploads/2022/10/04/1/pre-screen/paper/20221213_29bc024c4fa8.pdf
