@charset "utf-8";
/* CSS Document */

#wrapper {
    overflow: hidden;
}
#header {
    width: auto;
    left: 0px;
    right: 0;
    top: 0px;
    color: #000;
    position: fixed;
    z-index: 9999;
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
#header-inner {
    width: 100%;
    margin: 0px auto;
    left: 0;
    right: 0;
	background-color:#FFF;
    opacity: 1;
}

.header-box {
    width: auto;
    max-width: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header-box-row {
    width: auto;
    margin: 0 ;
    padding: 0 ;
    display: flex;
    max-width: none;
}
.header-box-row.login_list{
background-color: #0d2c55;
color: #FFF;
}

.header-box-col {
    padding: 0;
    flex: auto;
}
.header-box-col.menu {
    padding-left: 40px;
    padding-right: 0;
    display: flex;
}

.login_list .header-box-col {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0;
}
.header-box-col.logo img {
    width: auto;
    max-width: 100%;
    height: 5vw;
    max-height: 100%;
    object-fit: contain;
    transition: all 0.3s;
}

.login_list ul {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
    padding: 0;
    align-items: baseline;
}

.login_list li {
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
    font-size: 16px;
    color: #FFF;
    position: relative;
}

.login_list li.userlogin{
display: none;
}

.regisform .login_list li.nonlogin{
display: none;
}
.regisform .login_list li.userlogin{
display: block;
}

.login_list li.social_login{
border-left: 1px solid #FFF;
padding-left: 20px;
display: flex;
align-items: center;
}

.login_list li a{
color: #FFF;
display: flex;
align-items: center;
}
.login_list li a img {
    margin-right: 10px;
    max-height: 16px;
}
.login_list li.social_login a img{
margin-right: 0;
}

.header-box-row.menulist {
    width: 100%;
    max-width: 1700px;
    margin: 10px auto 0 auto;
}

.header-box-col.logo {
    width: auto;
    max-width: none;
    flex: none;
    padding: 0 0 20px 0;
}

.header-box-col.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.header-box-col.menu li {
    flex: auto;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: center;
}
.header-box-col.menu li.search {
    flex: none;
}
.header-box-col.menu li.search img{
max-height: 20px;
width: 24px;
height: 24px;
}
.header-box-col.menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0;
    margin-top: 20px;
    line-height: 1;
    position: relative;
    font-size: 0.95em;
}
.header-box-col.menu li.search a {
    flex: none;
    height: auto;
    align-self: center;
    margin-top: 20px;
    min-width: auto;
    padding: 0;
}
.header-box-col.menu li.search a i:before {
    color: #777;
    font-size: 20px;
}

.header-box-col.menu li a.active-menu:before{
content:'';
position: absolute;
bottom: 0;
width: 100%;
height: 3px;
background-color: #0d2c55;
}