nav {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.flexnav {
    width: auto;
    margin: 0 -10px;
    padding: 0px;
    color: #000;
    display: flex;
}
.flexnav li {
    flex: auto;
    position: relative;
    list-style: none;
    vertical-align: middle;
    overflow: visible;
    text-align: center;
    padding: 0px 10px;
    margin: 0;
}
.flexnav li i{
    display: block;
}

.flexnav li a {
    color: #000;
    display: inline-block;
    padding: 0;
    padding: 0 0 5px 0;
}
    .flexnav li a:hover {
	  color:#000;
  }
li.logo img{
	height: auto;
	max-height: 60px;
}

.flexnav li > ul {
    position: absolute;
    z-index: 999;
background-color: #0d2c55;
color: #FFF;
}

  .flexnav li ul.open {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

  .flexnav li ul.open li {
    overflow: visible;
    max-height: 100px;
  }

  .flexnav li ul.open ul.open {
    margin-left: 100%;
    top: 0;
  }

  .menu-button {
    display: none;
  }
  
  .flexnav .touch-button {
	  position:absolute;
    top: 50%;
}

.lang-box a.active-menu:link{
	border-bottom: 0px;
	font-weight: normal;
}