@charset "utf-8";
/* CSS Document */

.header-box-col.mobilemenu{
display: none;
}
.menubox{
display: none;
}
.lockbody{
overflow: hidden;
}

@media screen and (max-width:1320px) {
.header-box-col.menu li {
    font-size: 0.95rem;
}
}

@media screen and (max-width:1280px) {
.overlay{
overflow: hidden;
}
body.overlay:before{
content: "";
position: fixed;
width: 100vw;
height: 100vh;
background-color: rgba(0,0,0,0.85);
z-index: 999;
}
.menubox {
    display: block;
    width: 320px;
    max-height: 600px;
    position: absolute;
    background-color: #0d2c55;
    border-radius: 20px;
    top: 50px;
    right: 20px;
    padding: 20px;
    transform: translateY(-10px);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -2;
    visibility: hidden;
    box-shadow: 0 0 5px rgb(0 0 0 / 75%);
}
.menubox.active {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 9999;
    visibility: initial;
    overflow: hidden;
}
.menulogo {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #0d2c55;
    padding-bottom: 20px;
    z-index: 1;
}
.menulogo img {
    height: 50px;
    margin: 0 auto;
    display: block;
}
.menubox ul {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 75px 0 0 0;
    overflow: scroll;
}
.menubox ul::-webkit-scrollbar{
display: none;
}
.menubox li {
    display: block;
    padding: 0;
    margin: 10px 0;
}
.menubox li a:link, .menubox li a:visited {
    color: #FFF;
    font-size: 18px;
    border-bottom: 1px solid #FFF;
    display: block;
    padding: 0;
    padding-bottom: 10px;
    border-radius: 0;
}
.menubox li:last-child a{
border-bottom: 0;
}
.menubox a.menuclose {
    position: absolute;
    top: 10px;
    right: 15px;
    width: auto;
    height: auto;
    z-index: 2;
}
.menubox a.menuclose i::before{
font-size: 30px;
color: #FFF;
}
.menubox a.menuclose img{
width: 100%;
height: 100%;
max-width: 100%;
max-height: 100%;
}

.submenubox-list {
    border-bottom: 1px solid #FFF;
    padding-bottom: 10px;
}
.submenubox-list ul {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.submenubox-list li {
    margin: 10px 0;
    padding-left: 10px;
}
.submenubox-list li a:link, .submenubox-list li a:visited {
    padding: 0 0 0 30px;
    border-bottom: 0;
    position: relative;
}
.submenubox-list li a::before{
font-family: "bootstrap-icons";
content:"\F4EB";
font-size: 14px;
position: absolute;
top: 3px;
left: 0;
}

.btn-submenu{
position: relative;
}
.btn-submenu:before{
font-family: "bootstrap-icons";
content:"\F285";
color: #FFF;
position: absolute;
right: 0;
width: 20px;
height: 20px;
transition: all 0.1s ease-in-out;
}
.btn-submenu.active:before{
transform: rotate(-90deg);
}
}

@media screen and (max-width:1279px) {
.header-box-col.menu,.header-box-col.search{
display: none;
}
.header-box-col.mobilemenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    flex: none;
}
#wrapper .header-box-col.mobilemenu {
    padding: 0;
}
.header-box-col.mobilemenu a {
    display: flex;
    align-items: center;
    padding: 0;
    min-width: auto;
}
#header .btn-menu path {
  fill: #999;
}
.header-box-row.menulist {
    margin: 10px 0;
    justify-content: space-between;
}
}

@media screen and (max-width:768px) {
.formlogin .btn-menu path {
  fill: black;
}
.formlogin .header-box {
    position: relative;
    background-color: transparent;
    z-index: 999;
    width: 100%;
}
}
@media screen  and (max-width:1024px) and (orientation:portrait){
.menubox {
    height: calc(100vh - 30vw);
}
}

@media screen  and (max-width:767px) and (orientation:portrait){
.menubox {
    height: calc(100vh - 50vw);
}
}

@media screen and (max-width:1023px) and (orientation:landscape){
.menubox {
    width: 95vw;
    height: 75vh;
}
.menubox.active {
    position: fixed;
    top: 50%!important;
    transform: translateY(-50%);
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 9999;
    visibility: initial;
    overflow: hidden;
}
.menubox ul {
    list-style: none;
    padding: 0 0 40px 0;
    margin: 30px 0 0 0;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}
.menubox li {
    display: block;
    padding: 0 5px;
    margin: 5px 0 10px 0;
    width: 33.33%;
}

}